

.login{
    height: 100vh;
    width: 100%;
    background-image: url('../../img/peakpx.jpg');
    display:flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap:wrap;
    background-size: cover;
}

.dtl{
    position: relative;
    text-align:right;
    font-family: 'IBM Plex Sans Arabic';
    width:250px;
    margin: 30px;
    margin-top: 100px;
}

.ent{
    position: relative;
    text-align:right;
    font-family: 'IBM Plex Sans Arabic';
    width:250px;
    margin: 30px;
    margin-top: 100px;
}

.ent>div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.ent img{
    margin-left: 40px;
}

.ent form{
    margin-top: 50px;
}

.ent .fld{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
}

.ent .fld input{
    width: 130px;
    border: 0px;
    position: absolute;
    right: 80px;
    opacity: 0.5;
    border-radius: 5px;
    text-align: center;
}

.ent button{
    border: 0px;
    margin-top: 20px;
    position: absolute;
    right: 80px;
    width: 130px;
    opacity: 0.8;
    border-radius: 5px;
    height: 30px;
}

.ent .errmsg{
    color: #363e40;
    position: relative;
    top: 80px;
    right: 80px;
}