.desk .title{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color:#1B2040;
    height:60px;
    color:#F0FBFF;
    font-weight:700;
    font-size: 23px;
    line-height:2.5;
    box-shadow: 10px 10px 10px rgba(15, 16, 38, 0.1);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.desk .title h3{
    font-family: 'kalame_Black';
    flex:5;
}
.desk .title h4{
    flex:0;
    margin-left: 35px;
    font-size: 15px;
    color:#F2911B;
    font-family: 'kalame_Bold';
}

.desk .title img{
    flex: 0;
    margin-right: 35px;
    height: 30px;
}

.desk main{
    position: relative;

}
.menur{
    direction: rtl;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 55px;
    z-index: 1;
    right: 0px;
    top: 150px;
    padding-left:10px;
    background-color: #4973F2;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: -10px 10px 10px 5px rgba(27, 32, 64, 0.2);
}
.slupl{
    background-color: brown;
}
.menur .btm{
    background-color: #4973F2;
    border: 0px;
    height: 50px;
    width: 50px;
    color: #32393B;
    text-align: right;
    margin:5px;
    position: relative;
    right:0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    transition: all ease 0.5s;
}
.btm img{
    width:50px;
}

.btm p{
    font-family: 'kalame_Bold';
    font-size:20px;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    right:0px;
    color: #fff;
}
.btm:hover{
    background-color: #3937DB;
    color: #202526;
    width: 210px;
    box-shadow: -8px 8px 8px 5px rgba(27, 32, 64, 0.2);
}

#upbtm:hover ::before{
    content: 'بارگذاری فایل';
    margin-right: 5px;
}

#toptr:hover ::before{
    content: 'معامله گران';
}

#newtr:hover ::before{
    content: 'جدیدالورود';
}

#istgh:hover ::before{
    content: 'استگاه های معاملاتی';
}

#imgup{
    height: 80px;
    position: relative;
    top: 30px;
    margin-top: 30px;
}


.frmupl{
    position: relative;
    top: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload form label{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 15px;
    background-color: #F2911B;
    border-radius: 10px;
    height: 35px;
    padding: 7px 15px;
    align-items: center;
    box-shadow: 8px 8px 10px rgba(103, 110, 116, 0.3);
    color: #0F1026;
}
.upload span{
    font-family: 'kalame_Bold';
    font-size: 1.2rem;
}
.upload .uplbtn{
    margin-top: 20px;
    width: 170px;
    height: 35px;
    border: 0px;
    background-color:#4973F2;
    color: #f2f2f2;
    font-weight: bolder;
    box-shadow: 2px 2px 10px rgba(103, 110, 116, 0.4);
    border-radius: 10px;
    font-family: 'kalame_Bold';
    font-size: 1.2rem;
    box-shadow: 8px 8px 10px rgba(103, 110, 116, 0.3);
}

#msgupload{
    color:#fc573b;
    font-weight:bold;
    font-size:14px;
}

#icnerr{
    width:30px;
    margin: 5px;

}

.elog p{
    color:#fc573b;
    font-weight:bold;
    font-size:14px;
    margin-right: -30px;
}

.bxerrup{
    background-color: #ffe6e2;
    border: 1px solid #fc573b;
    border-right: 4px solid #fc573b;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    top:35px;
    margin-right: -100px;
    border-radius: 5px;
}

.loader {
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-left: -80px;
    border: 12px solid #f2f2f2;
    border-radius: 50%;
    border-top: 12px solid #363e40;
    border-bottom: 12px solid #363e40;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.dnone{
    display: none;
}


.traders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.dateset{
    margin-top:30px;
    display:flex;
    flex-direction: row-reverse;
    justify-content:center;
    align-items:center;
}

.dateset img{
    width:50px;
    margin: auto 5px;
}

.dateset h5{
     margin: auto 15px;
}

.dateset select{
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #202526;
    color: #202526;
}

.sidebuyact{
    background-color: #045019;
    font-family: 'kalame_Bold';
    font-size: 1.1rem;
    color: #AEFBBF;

}
.sidenotact{
    background-color: #F0FBFF;
    color: darkslategray;
}
.sideselact{
    background-color: #8E1A1A;
    font-family: 'kalame_Bold';
    font-size: 1.1rem;
    color:#FFC7C7;
}

.rprttrd{
    position: relative;
    top:35px;
    margin:auto auto;
    width:80%;
    background-color:#F2F2F2;
    border: 1px solid #281C04;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    box-shadow: 7px 7px 10px 12px rgba(40, 28, 4, 0.15);
}

.rowtrd:nth-child(2n+0){
    background-color:#E6E9F1;
}
.rowtrd{
    height:40px;
    display:flex;
    flex-direction: row;
    flex-grow: nowrap;
    justify-content: flex-end;
    align-items:center;
    padding: 0 20px;
}


.rowtrd h5{
    position: relative;
    text-align: right;
    width: 250px;
    position: relative;
    font-family: 'kalame_Bold';
    font-size: 1.2rem;
    overflow: hidden;
}
.rowtrd p{
    background-color: #F2911B;
    position: relative;
    text-align: center;
    border: 1px double #1E1E1E;
    color: #1E1E1E;
    font-family: 'kalame_Bold';
    font-size: 1.1rem;
    box-shadow: 3px 3px 5px rgba(56, 39, 39,0.2);
    border-radius: 6px;
}

.side{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0px auto;
    flex-wrap: wrap;
    align-content: flex-end;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.side label{
    border-radius: 0;
    width: 50%;
    height: 45px;
    font-size:1.3rem;
    display:flex;
    align-items: center;
    justify-content: center;

}

.side label:first-child{
    border-top-left-radius: 25px;
}
.side label:last-child{
    border-top-right-radius: 25px;
}
.side p{
    width: 100%;
    background-color: #F2911B;
    color: #281C04;
    font-family: 'kalame_Bold';
    font-size:1.5rem;
    height:35px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}



.rowtrd .info{
    justify-self: start;
    margin-right: auto;
    width: 30px;
}

.rowtrd .chart{
    margin-left: 15px;
    width: 30px;
}

.rowtrd .avgprc{
    margin-right: auto;
    font-size: 1.1rem;

}

.detailscode{
    position:fixed;
    z-index:1;
    background-color:#F2F2F2;
    border:3px solid;
    border-color: #1B2040 ;
    color: black;
    bottom:35%;
    right:50%;
    margin-right: -150px;
    padding: 20px;
    border-radius:10px;
    box-shadow: 10px 10px 20px 5px rgba(15, 16, 38, 0.5);
}

.detailscode button{
    margin-top: 10px;
    width:40%;
    background-color: #F2911B;
    font-size: 1.1rem;
    font-family: 'kalame_Bold';
    border: 0px;
    border-radius: 5px;
    box-shadow:5px 5px 5px  rgba(15, 16, 38, 0.2);
}

.detailscode h6{
    text-align:right;
    font-size: 1.1rem;
    margin-right: 10px;
    margin-top: 5px;

}


.historycode{
    position: fixed;
    z-index:1;
    background-color:#F2F2F2;
    border:3px solid;
    border-color: #0F1026 ;
    color: #0F1026;
    top:35%;
    display: flex;
    min-width:150px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    left: 35%;
    border-radius: 15px;
    padding: 10px;
}
.historycode button{
    align-self: center;
    width: 40%;
    justify-content:flex-end;
    font-size: 1.1rem;
    font-family: 'kalame_Bold';
    margin-top: 30px;
    background-color:#F2911B;
    border:0px;
    border-radius:5px;
    box-shadow:5px 5px 10px 5px rgba(103, 110, 116, 0.3);
}

.historycode p{
    transform: rotate(-20deg);
    position: relative;
    align-self: flex-end;
    font-size: 10px;
}


.posbar{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-end;
}
.negbar{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start
}
.bardate{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-end;
    margin-top: 35px;
}

.subposbar{
    width: 40px;
    border-top: 1px solid;
    border-color: #0F1026;
    border-radius: 5px;
}

.subnegbar{
    width: 40px;
    border-top: 1px solid;
    border-color: #0F1026;
    border-radius: 5px;

}

.bardatesub{
    width: 40px;
    font-size: 1.3em;
}




.sumnt{
    display: flex;
    flex-direction: row;
    align-items:flex-end;

}
.barnt{
    display:flex;
    flex-direction: row;
    margin: 5px;
    align-items:flex-end;
}

.barall{
    background-color:#F2911B;
    width: 15px;
}
.barnew{
    background-color:#FFCD4B;
    width: 15px;
}

.ntdate{
    font-size:1.05rem;
    transform: rotate(-20deg);
}

.ntav{
    font-size:1.1rem;
    background-color: #F2911B;
    color:#1E1E1E;
}
.ntnv{
    font-size:1.1rem;
    background-color: #FFCD4B;
    color:#0D0D0D;
}

.ntpv{
    font-size:1.1rem;
    background-color:transparent;
    margin-bottom: 10px;
    border-bottom: 1px solid #0D0D0D;
}

.newtraders{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    padding: 20px;

}

.ntvolume{
    border:3px solid #0F1026;
    border-radius: 20px;
    padding:20px;
    margin:15px;
    box-shadow: 12px 12px 2px 1px rgba(186, 65, 93,0.2);

}

.ntvolume h4{
    color: #0F1026;
    font-size:1.8rem;
    font-family: 'kalame_Bold';

}

.helper{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-between;
    margin:15px;
}


.hlpall{
    background-color:#F2911B;
    color:#1E1E1E;
    padding:4px;
    border-radius: 3px;
    border:1px solid;
    font-size:1.1rem;
}

.hlpnew{
    background-color:#FFCD4B;
    color:#0D0D0D;
    padding:4px;
    border-radius: 3px;
    border:1px solid;
    font-size:1.1rem;

}

.hlpprc{
    background-color:transparent;
    color:#0D0D0D;
    padding:4px;
    border-radius: 3px;
    border:1px solid #0D0D0D;
    font-size:1.1rem;

}

.istgah{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    background-color:#f2f2f2;
}

.dtistgah{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative;
    top: 15px
}

.dtistgah span{
    margin: 0 15px;
    font-family: 'kalame_Bold';
    font-size:1.5rem;

}

.dtistgah select{
    background-color:#f2f2f2;
    border:0px;
    border-bottom: 1px solid;
    border-color: #363e40;
    font-size: 1.3rem;
}


.sidebox{
    position: relative;
    top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidebox label{
    margin: 10px;
}



.chartistgah{
    position: relative;
    top:24px;
    margin:auto auto;
    width:80%;
    background-color:#F2F2F2;
    border: 1px solid #281C04;
    border-top-right-radius:25px;
    border-top-left-radius:25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}



.oneistgah{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    padding: 0px 20px;
}

.oneistgah:nth-child(2n+0){
    background-color:#E6E9F1;
}

.istgahw{
    background-color: #F2911B;
    border: 1px solid #3B262B;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(15, 16, 38, 0.15)
}

.istgahcode{
    width: 25px;
    background-color: #FF5840;
    color: #000000;
    margin-left: 15px;
    border-radius: 8px;
    font-family: 'kalame_Bold';
    padding: auto 0px; 
    height:25px;
    line-height:25px;
    box-shadow: 4px 4px 4px rgba(75, 29, 19, 0.2)
}

.istgahcount{
    margin-right: auto;
    justify-self: start;
    font-size:1.2rem;
}


.istgahname{
    width: 250px;
    text-align: right;
    font-family: 'kalame_Black';
    font-size: 1.25rem;
    overflow: hidden;
}

.hci{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 0 5px;
    font-weight: bold;
    background-color:#E6E9F1;
    height: 35px;
    font-size: 1.2rem;
    font-family: 'kalame_Bold';
    align-items: center;
}

.hciv{
    flex-grow: 15;
}

.hcii{
    flex-grow: 2;
}


.htt{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 15px;
    font-weight: bolder;
    position: relative;
    background-color: #E6E9F1;
    height: 35px;
    font-family: 'kalame_Bold';
    font-size: 1.2rem;
    align-items: center;

}

.httv{
    margin-right: 30%;
}

.httn{
    margin-right: 5%;
}

.httd{
    margin-right: 1.5%;

}

.http{
    margin-right: 48%;
}

.istgahvolume{
    margin-right:10px;
}