.desk .title{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color:#2E94B9;
    height:60px;
    color:#F0FBFF;
    font-family: 'IBM Plex Sans Arabic';
    font-weight:700;
    font-size: 23px;
    line-height:2.5;
}

.desk .title h3{
    flex:5;
}
.desk .title h4{
    flex:0;
    margin-left: 35px;
    font-size: 15px;
    color:#66221F;
}

.desk .title img{
    flex: 0;
    margin-right: 35px;
    height: 30px;
}

.desk main{
    position: relative;

}
.menur{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 160px;
    z-index: 1;
    right: 0px;
    background-color: #ACDCEE;
}

.menur .btm{
    background-color: #ACDCEE;
    border: 0px;
    height: 30px;
    color: #32393B;
    text-align: right;
    padding-right: 15px;
}


.menur .btm:hover{
    background-color: #90B1D6;
    color: #202526;
}


#imgup{
    height: 80px;
    position: relative;
    top: 30px;
    margin-top: 30px;
}


.frmupl{
    position: relative;
    top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload form label{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 15px;
    background-color: #475053;
    border-radius: 5px;
    min-height: 25px;
    padding: 7px 15px;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(103, 110, 116, 0.6);
    color: #F0FBFF;
}

.upload .uplbtn{
    margin-top: 20px;
    width: 170px;
    height: 35px;
    border: 0px;
    background-color:#2E94B9;
    color: #f2f2f2;
    font-weight: bolder;
    box-shadow: 2px 2px 10px rgba(103, 110, 116, 0.4);
    border-radius: 10px;
}

#msgupload{
    color:#fc573b;
    font-weight:bold;
    font-size:14px;
}

#icnerr{
    width:30px;
    margin: 5px;

}
.bxerrup{
    background-color: #ffe6e2;
    border: 1px solid #fc573b;
    border-right: 4px solid #fc573b;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    top:35px;
    margin-right: -100px;
    border-radius: 5px;
}

.loader {
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-left: -80px;
    border: 12px solid #f2f2f2;
    border-radius: 50%;
    border-top: 12px solid #363e40;
    border-bottom: 12px solid #363e40;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.dnone{
    display: none;
}


.traders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    background-color:#f2f2f2;
}

.dateset{
    margin-top:30px;
    display:flex;
    flex-direction: row-reverse;
    justify-content:center;
    align-items:center;
}

.dateset img{
    width:50px;
    margin: auto 5px;
}

.dateset h5{
     margin: auto 15px;
}

.dateset select{
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #202526;
    color: #202526;
}

.sidebuyact{
    background-color: #0B9E5F;

}
.sidenotact{
    background-color: #F0FBFF;
}
.sideselact{
    background-color: #EB593F;

}

.rprttrd{
    position: relative;
    top:24px;
    margin:auto auto;
    width:80%;
    background-color:#ACDCEE;
    border: 1px solid #2E94B9;
}

.rowtrd{
    height:40px;
    display:flex;
    flex-direction: row;
    flex-grow: nowrap;
    justify-content: flex-end;
    align-items:center;
    padding: 0 20px;
}

.rowtrd h5{
    position: relative;
    text-align: right;
    width: 250px;
    position: relative;
    
}
.rowtrd p{
    background-image: linear-gradient(15deg, #6DAEC6, #2E94B9, #6DAEC6);
    position: relative;
    text-align: left;
    border: 1px solid #2849C7;
    color: #F0FBFF;

}

.side{
    position: relative;
    top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: 0px auto;
    flex-wrap: wrap;
    align-content: flex-end;
    border-radius: 5px;
    border: 1px solid #2E94B9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.side label{
    border-radius: 0;
    width: 50%;
    height: 28px;

}
.side p{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #2E94B9;
    color: #F0FBFF;
}



.rowtrd .info{
    justify-self: start;
    margin-right: auto;
    width: 30px;
}

.rowtrd .chart{
    margin-left: 15px;
    width: 30px;
}

.rowtrd .avgprc{
    margin-right: auto;
}

.detailscode{
    position:absolute;
    z-index:1;
    background-color:#363e40;
    border:3px solid;
    border-color: #f2f2f2 ;
    color: #f2f2f2;
    width: 300px;
    height: 250;
    top:100px;
    right:50%;
    margin-right: -150px;
    padding: 10px 20px;
    border-radius:10px;
}

.detailscode p{
    font-size: 15px;
    text-align: left;
}
.detailscode h6{
    text-align:right;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 5px;

}


.historycode{
    position: absolute;
    z-index:1;
    background-color:#363e40;
    border:3px solid;
    border-color: #f2f2f2 ;
    color: #f2f2f2;
    top:100px;
    display: flex;
    flex-direction: column;
    height: 250px;
    flex-wrap: nowrap;
    align-items: flex-end;
    left: 50%;
    border-radius: 10px;
    padding: 10px;
}
.historycode h6{
    align-self: flex-start;
    font-size: 14px;
}

.historycode p{
    transform: rotate(-20deg);
    position: relative;
    align-self: flex-end;
    font-size: 10px;
}


.posbar{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-end;
}
.negbar{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start
}
.bardate{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-end;
    margin-top: 35px;
}

.subposbar{
    width: 45px;
    border-top: 1px solid;
    border-color: #232426;
}

.subnegbar{
    width: 45px;
    border-top: 1px solid;
    border-color: #232426;

}

.bardatesub{
    width: 45px;
}




.sumnt{
    display: flex;
    flex-direction: row;
    align-items:flex-end;

}
.barnt{
    display:flex;
    flex-direction: row;
    margin: 5px;
    align-items:flex-end;
}

.barall{
    background-color:#2E94B9;
    width: 15px;
}
.barnew{
    background-color:#59D3FF;
    width: 15px;
}

.ntdate{
    font-size:12px;
    transform: rotate(-20deg);
}

.ntav{
    font-size:12px;
    background-color: #2E94B9;
    color:#f2f2f2;
}
.ntnv{
    font-size:12px;
    background-color: #59D3FF;
    color:#363e40;
}

.ntpv{
    font-size:12px;
    background-color:transparent;
    margin-bottom: 10px;
    border-bottom: 1px solid #90B1D6;
}

.newtraders{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    padding: 20px;

}

.ntvolume{
    border:2px solid #2E94B9;
    border-radius: 20px;
    padding:20px;
    margin:15px;
    box-shadow: 12px 12px 2px 1px rgba(186, 65, 93,0.2);

}

.ntvolume h4{
    color: #475053;

}

.helper{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-between;
    margin:15px;
}


.hlpall{
    background-color:#2E94B9;
    color:#f2f2f2;
    padding:4px;
    border-radius: 3px;
    border:1px solid;
}

.hlpnew{
    background-color:#59D3FF;
    color:#363e40;
    padding:4px;
    border-radius: 3px;
    border:1px solid;
}

.hlpprc{
    background-color:#f2f2f2;
    color:#363e40;
    padding:4px;
    border-radius: 3px;
    border:1px solid #90B1D6;
}

.istgah{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    background-color:#f2f2f2;
}

.dtistgah{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative;
    top: 15px
}

.dtistgah span{
    margin: 0 15px;

}

.dtistgah select{
    background-color:#f2f2f2;
    border:0px;
    border-bottom: 1px solid;
    border-color: #363e40;
}


.sidebox{
    position: relative;
    top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidebox label{
    margin: 10px;
}



.chartistgah{
    position: relative;
    top:24px;
    margin:auto auto;
    width:80%;
    background-color:#ACDCEE;
    border: 1px solid #2E94B9;
    padding: 5px;
}


.oneistgah{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    margin: 5px 0px;
}

.istgahw{
    background-image: linear-gradient(20deg,#D14A3F, #BA415D,#D14A3F);
    border: 1px solid #3B262B;
}

.istgahcode{
    width: 30px;
    background-color: #BA415D;
    color: #F0FBFF;
    margin-left: 15px;
    border-radius: 8px;
}

.istgahcount{
    margin-right: auto;
    justify-self: start;
}


.istgahname{
    width: 220px;
    text-align: right;
    font-size: 14px;
}

.hci{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 0 5px;
    font-weight: bold;
}

.hciv{
    flex-grow: 15;
}

.hcii{
    flex-grow: 2;
}


.htt{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 15px;
    font-weight: bolder;
    position: relative;
}

.httv{
    margin-right: 30%;
}

.httn{
    margin-right: 5%;
}

.httd{
    margin-right: 1.5%;

}

.http{
    margin-right: 48%;
}

.istgahvolume{
    margin-right:10px;
}